/*****************HEADER-NAV*******************/

.collapse {
    justify-content: end;
  }
  
  .cabezaPrincipal {
    background: rgb(116, 14, 69);
    background: linear-gradient(180deg, rgba(116, 14, 69, 1) 0%, rgba(208, 56, 138, 1) 100%);
  }
  
  .cabezaNav {
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  
    a {
      color: #ffffff;
      font-weight: 900;
    }
  
    img {
      height: 30px;
    }
  
    ul {
      list-style: none;
  
      li a {
        display: block;
        padding: 20px;
      }
    }
  }