/*MAPS*/

$mapRedes:(violet);

@each $violet, $color in $mapRedes {
    .#{$violet}{
        color: $color;
    }
}

$estilo:(color: violet, tamFuente:30px);

.copyright {
    background-color: map-get($estilo, color);
    font-size: map-get($estilo,tamFuente);  
    height: 80px;
    width: 100px;
}