/*MIXIN*/

@mixin description {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    text-align: center;
}

.description {
    @include description;
}

/*mixim con parametros*/

@mixin descriptionConParametros ($size,$alineacion){
    font-size: $size;
    text-align: $alineacion;
    
}

.descriptionConHambre {
    @include descriptionConParametros(50px, center)
}