/****************RESET****************/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
  }
  

  html, body {
    font-family: 'Nunito', sans-serif;
  }
  